In [1]:
import pandas as pd
import scipy.stats

In [2]:
data = pd.read_csv("baseball_stats.csv")
data

               name handedness height weight    avg   HR
0      Brandon Hyde          R     75    210  0.000    0
1       Carey Selph          R     69    175  0.277    0
2      Philip Nastu          L     74    180  0.040    0
3        Kent Hrbek          L     76    200  0.282  293
4       Bill Risley          R     74    215  0.000    0
...             ...        ...    ...    ...    ...  ...
18172    Rob Nelson          L     76    215  0.178    4
18173  Roger Nelson          R     75    200  0.128    0
18174  Fred Luderus          L     71    185  0.277   84
18175      Ed Glenn          R     70    160  0.202    1
18176      Ed Glenn          R                0.067    0

[18177 rows x 6 columns]

In [3]:
data_r = data.query("handedness == 'R'")
data_r

                  name handedness height weight    avg  HR
0         Brandon Hyde          R     75    210  0.000   0
1          Carey Selph          R     69    175  0.277   0
4          Bill Risley          R     74    215  0.000   0
6      Steve Gajkowski          R     74    200  0.000   0
7            Rick Schu          R     72    170  0.246  41
...                ...        ...    ...    ...    ...  ..
18170    Aurelio Lopez          R     72    185  0.125   0
18171       Jesse Hill          R     69    165  0.289   6
18173     Roger Nelson          R     75    200  0.128   0
18175         Ed Glenn          R     70    160  0.202   1
18176         Ed Glenn          R                0.067   0

[11157 rows x 6 columns]

In [4]:
data_l = data.query("handedness == 'L'")
data_l

                  name handedness height weight    avg   HR
2         Philip Nastu          L     74    180  0.040    0
3           Kent Hrbek          L     76    200  0.282  293
9         Tom Browning          L     73    190  0.153    2
13           Tom Brown          L     70    168  0.265   64
15     Floyd Bannister          L     73    190  0.175    0
...                ...        ...    ...    ...    ...  ...
18150      Jeff Liefer          L     75    195  0.230   31
18155     Rocky Nelson          L     70    175  0.249   31
18166        Ed Barney          L     70    178  0.224    0
18172       Rob Nelson          L     76    215  0.178    4
18174     Fred Luderus          L     71    185  0.277   84

[4696 rows x 6 columns]

Welsch's t-test (which does not assume equal population variance )

In [10]:
t_value, p_value = scipy.stats.ttest_ind(data_r['avg'],data_l['avg'],equal_var=False)

In [11]:
(t_value,p_value)

(-9.935702226242094, 3.810274225888738e-23)

Shapiro-Wilk test (to measure the likelihood that the sample is drawn from a normally distributed population)

In [13]:
w,p = scipy.stats.shapiro(data_r['avg'])
w,p

(0.8317142724990845, 0.0)

In [14]:
w,p = scipy.stats.shapiro(data_l['avg'])
w,p

(0.8488637208938599, 0.0)

If the data does not come from a normal distribution, we can still perform a t-test if the sample size is large enough.

Non parametric test: a statistical test that does not assume our data is drawn from any particular underlying probability distribution.

Mann-Whitney u-test

In [16]:
u,p = scipy.stats.mannwhitneyu(data_r['avg'],data_l['avg'])
u,p

(22523894.5, 7.461574079302499e-45)